

html body  {
    width:100vw;
    height:100vh;
    background-color:rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#nav-box{
    height:100vh;
    width: 10vw;
    background:black;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#copyright{
    font-size: smaller;
}

#card-box{
    height:100vh;
    width: 90vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10vw;
}


nav {
    height: 20%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
}

#homeimg {
    width: 40px;  
    height: 40px;
    margin-bottom: 15px;
    
}
#skillsimg {
    width: 50px;  
    height: 50px;

    margin-bottom: 10px;
    
}
#contactimg {
    width: 50px; 
    height: 50px; 
    
}

img {
    transition: all 0.3s ease; 
    transform: scale(1);
}

img:hover {
    transform: scale(1.1); 
}

img:active {
    transform: scale(1.05); 
}

.logo{
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.1); 
}

.card-visible {
    height: 70vh;
    width: 60vw;
/*
    background:linear-gradient(to bottom, rgba(28, 28, 28, 0.74), rgba(255, 255, 255, 0.616));
*/
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0.408));

    border-radius:20px;

    padding:50px;
    overflow-y: auto;/* permet de scroll dans la div */
    transition: transform 0.3s ease-in-out;
}
/*
.card-visible:hover {
    transform: scale(1.005);
}*/

.card-cache {
    display:none;
}

h3 {
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.496); 
    animation: fadeColor 3.5s ease-in-out 0s forwards; 
}


p {
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.496); 
    animation: fadeColor 2.5s ease-in-out 0s forwards; 
}


@keyframes fadeColor {
    0%{
        color: rgba(0, 0, 0, 0); 
    }
    50% {
        color: rgba(0, 0, 0, 0.496); 
    }
    100% {
        color: white; 
    }
}


/*
.presentation {

    font-size:2rem;
    color: aliceblue;
    font-weight: bold;
    border-right: 2px solid #fff; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    height: fit-content;
    font-family: Poppins;
    height: auto;
}*/

/*presentation-home*/
#presentation-home {
    animation: presentation-home 1s steps(13) 0.5s forwards, blink 0.75s step-end infinite; /* L'animation de texte */
}


@keyframes presentation-home {
            from {
                width: 0;
            }
            to {
                width: fit-content;
            }
        }
@keyframes blink {
            50% {
                border-color: transparent;
            }
        }


/*presentation-skills*/
#presentation-skills {
    animation: presentation-skills 1s steps(7) 0.5s forwards, blink 0.75s step-end infinite; /* L'animation de texte */
}

@keyframes presentation-skills {
            from {
                width: 0;
            }
            to {
                width: fit-content;
            }
        }
@keyframes blink {
            50% {
                border-color: transparent;
            }
        }


/*presentation-contact
#presentation-contact {
    animation: presentation-contact 1s steps(8) 0.5s forwards, blink 0.75s step-end infinite;
}

@keyframes presentation-contact {
            from {
                width: 0;
            }
            to {
                width: fit-content; 
            }
        }
@keyframes blink {
            50% {
                border-color: transparent;
            }
        }
*/
/*
#presentation-contact {
    display: inline-block;

  }

#text-presentation-contact{

    color: white;
    border-right: 2px solid rgb(255, 255, 255); 
    font-size: 2em; 
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    animation:  typing 1s steps(8) , 
                blink 0.75s step-end infinite;
   
}
  
  @keyframes typing {
    from {
      width: 0;
    }

  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }*/

  #presentation-contact {
    display: inline-block;
}

#text-presentation-contact {
    color: white;
    border-right: 2px solid white;
    font-size: 2em;
    font-family: 'Poppins', sans-serif; /* Garder Poppins */
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    clip-path: inset(0 100% 0 0); /* Cache tout au début */
    animation: typing 2s steps(8) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        clip-path: inset(0 100% 0 0); /* Cache tout */
    }
    to {
        clip-path: inset(0 0 0 0); /* Montre tout */
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}




#logo_container {
    /*border:solid red 2px;*/
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
}

.language_logo {
    width:10%;
    height:10%;
}

#contact_container {
    margin-top: 100px;
    /*border:solid red 2px;*/
    display: flex;
    flex-direction: column;

    /*
     flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    */
   
}
.contact_logo{
    width:50px;
    height:50px;
}
.link_contact{
    animation: slideInFromLeftProject 2s ease-out forwards;
    opacity: 0;
    display: flex;
    margin-left:50px;
    margin-bottom:20px;
    /*border:solid green 2px;
    justify-content: center;
    align-items: center;*/
    gap:40px;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0; 
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.language_logo {
    animation: slideInFromRight 0.5s ease-out forwards;
    opacity: 0;

}

#css_logo {
    animation-delay: 2.0s;
}

#html_logo {
    animation-delay: 2.3s; 
}

#php_logo {
    animation-delay: 2.6s;
}

#python_logo {
    animation-delay: 2.9s;
}

#csharp_logo {
    animation-delay: 3.2s;
}

#java_logo {
    animation-delay: 3.5s;
}

#cplusplus_logo {
    animation-delay: 3.8s;
}

#PLSQL_logo {
    animation-delay: 4.1s;
}



#id_telephone_logo{
    margin-right:100px;
}

#id_github_logo{
    margin-right:135px;
}

#html_logo{
    width:8%;
    height:8%;
}
#css_logo{
    width:8%;
    height:8%;
}

#cplusplus_logo{
    width:8%;
    height:8%;
}

#csharp_logo{
    width:8%;
    height:8%;
}



#big_logo_container_project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px

}

.small_container_project {
    animation: slideInFromLeftProject 2s ease-out forwards;
    opacity: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-align: center;
    
}




#container_dungeon_crawler{
    animation-delay: 2s;
}
#container_avalanche{
    animation-delay: 2.2s;
    margin-top:20px;
}
#container_puissance_4{
    animation-delay: 2.4s;
    margin-top:20px;
}

@keyframes slideInFromLeftProject {
    0% {
        transform: translateX(-200%);
        opacity: 0; 
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#puissance4_logo{
    width: 80px;
    height: 80px;
}

#vaisseau_logo{
    width: 80px;
    height: 80px;
}

#avalanche_logo{

    width: 80px;
    height: 80px;
}


#big_logo_container_exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px

}

.exp_desc{
    font-size: smaller;
}

.small_container_exp {
    animation: slideInFromLeftProject 2s ease-out forwards;
    opacity: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    text-align: center;
    
} 

#database{
    margin-top:20px;
}
#backend_logo{
    width: 120px;
    height: 80px;
}

#frontend_logo{
    width:40%;
    height:35%;
}

#database_logo{
    margin-bottom: 10px;
    width:50%;
    height:40%;
}

hr {
    border: 0;
    height: 2px;
    background-color: #cccccc91;
}

.exp_titre{
    margin-bottom: 0px;
    margin-top: 15px;
}

#parcours{
    animation: slideInFromLeftProject 2s ease-out forwards;
    opacity: 0;
    width:100%;
    height: 70%;
    margin-top: 0px;

}

#parcours:hover{
    scale:1.05;
}

.paragraphe{
    font-size:smaller;
    margin-bottom:20px;
}

#parcours_h3{
    margin-bottom: 0px;
}
/*
#entrep_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entrep_logo{
    animation: slideInFromRight 3s ease-out forwards;
    opacity: 0;

    width:80%;
    height: 60%;
    scale:1;

    margin-bottom: 20px;
}


#entrep_logo:hover{
    scale:1.05;
    position: absolute;
    top: 50px; 
    left: 20px; 
    z-index: 2;
}

#ps-background{
    width: 100%; 
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}*/
.entrep_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
}

#ps-background {
    width:100%;
  
    border-radius: 40px;
    z-index: 0; /* L'image est en dessous des autres éléments */
}

#entrep_logo {
    opacity: 1;
    position: absolute; /*Ajouté pour empêcher l'élément de sortir de son parent en cas de survol */
    top:85%;
    left:10%;
    z-index:2;
    width:80%;
}

#ps-background:hover {
    transform: scale(1.005);  /* Applique un agrandissement au survol */
}
#entrep_logo:hover {
    transform: scale(1.005);  /* Applique un agrandissement au survol */
}


#big_logo_container_work{
    width: 100%;
    height: 50%;
    gap:1%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.small_container_work{
    width: 33%;
    height: 100%;
    padding: 3%;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 20px;
    box-sizing: border-box; 
    gap:5%;
}

.small_container_work:hover{
    cursor: pointer; 
    scale:1.05;
    background-color: #0e0e0e7f;
}

.small_container_work > * {
    /* Les enfants directs de .small_container_work */
    width: 100%; /* ou une autre largeur, selon le besoin */
    margin: 0; /* Réinitialise les marges */
}


.small_container_work p {
    font-size: smaller; 
    text-align: center;
}